@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wireless Media</h1>
    <p class="lead">Test for job - Contest for the .Net developer position</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Read data</h2>
        <p>
            Load data from database and json file.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Create product</h2>
        <p>Creating new product and save changes to database.</p>
    </div>
    <div class="col-md-4">
        <h2>Update product</h2>
        <p>Edit selected product and save changes to database.</p>
    </div>
</div>